---
BasedOnStyle: WebKit
TypeNames: [u8, u16, u32, u64]

ColumnLimit: 0
AlignAfterOpenBracket: DontAlign
UseTab: ForContinuationAndIndentation
IndentWidth: 4
ContinuationIndentWidth: 8
BracedInitializerIndentWidth: 4
TabWidth: 4

PointerAlignment: Right
SpaceAfterCStyleCast: false
BreakBeforeBraces: Stroustrup

AlignConsecutiveMacros:
  Enabled: true
AlignEscapedNewlines: DontAlign
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: true
MaxEmptyLinesToKeep: 2
SortIncludes: false
SpacesBeforeTrailingComments: 2

BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: AfterColon

InsertNewlineAtEOF: true
...
