# vim:sw=2:ts=2
name: ci

# on events
on:
  push:
    branches:
      - master
      - 'feature/*'
      - 'nalajcie/*'
  pull_request:
    branches:
      - master
      - 'feature/*'
      - 'nalajcie/*'

jobs:
  call-ci:
    uses: phoenix-rtos/phoenix-rtos-project/.github/workflows/ci-submodule.yml@nalajcie/ci
    secrets: inherit
    with:
      cpptest_enabled: true
