# vim:sw=2:ts=2
name: ci

# on events
on:
  push:
    branches:
      - master
      - 'bpaczek/*'
  pull_request:
    branches:
      - master
      - 'feature/*'
      - 'bpaczek/*'


jobs:
  call-ci:
    uses: bartekpaczek/phoenix-rtos-project-fork/.github/workflows/ci-submodule.yml@master
    secrets: inherit
    with:
      build_params: all tests


